body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 58, 99);
    
}

#nav {
    
    display: flex;

}

#allLogos{
    display: flex;
    margin-right: auto;
}
#logo {
    display: inline-block;
    color: white;
    padding: 10px 30px;
    height: 50px;
    
    
    

}

#pagename{
    display: inline;
    color:white;
    font-size: 30px;
    padding: 20px 10px;
    
}

.logo > a {
    text-decoration: none;
    color: white;
}

.main-logo {
    margin: 30px; 

 } 

nav > ul {
    margin: 0;
    padding: 0;
    background-color: white;
    display: inline-block
}


nav > ul > li {
    display: inline-block;

}


.navlink {
    background-color: rgb(44, 125, 160);
    font-family:Georgia, 'Times New Roman', Times, serif; 
    text-decoration: none;
    color: white;
    padding: 30px 85px;
    display: block;
}


/* .navlink:hover {

    
    height: 21px;

} */



.about-title {
    color: gold;
    text-align: center;

}

.about {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.about-des {
    display: flex;
}

.about-des > img {
    margin-right: 20px;
}

/* Nav bar collapse icon */



.nav-link {
    text-decoration: none;
}


.main-nav li a:hover {
    
    background-color: rgb(56, 54, 154)
}



.active {
    display: block;


}


.navbar-toggle {
    display: none;
}


/* end of nav bar collapse */
